.services {
  position: relative;
  width: 99vw;
}
.services-container {
  position: absolute;
  width: 99vw;
  top: 0;
  left: 0;
  z-index: 1;
}
.hidden-div {
  height: 100vh;
  background: transparent;
}

