.service-header-container {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column wrap;
  position: fixed;
}
.service-header-first {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}
.service-header-heading {
  display: flex;
  flex-direction: column;
}
#service-header-h1,
#service-header-h2,
#service-header-h3 {
  margin: 0;
  box-sizing: border-box;
}
.service-header-second img {
  display: inline-block;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .service-header-container {
    height: 100vh;
    background-image: url('../../../assets/Services.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    color: rgb(255, 255, 255);
  }
  #service-header-h1 {
    min-width: 280px;
    max-width: 490px;
    font-weight: bolder;
    font-size: 3rem;
    padding: 4.5rem 10% 18rem 10%;
    line-height: 4rem;
  }
  #service-header-h2 {
    min-width: 60%;
    max-width: 95%;
    font-size: 1rem;
    padding: 1rem 10%;
    line-height: 1.5rem;
  }
  #service-header-h3 {
    display: none;
  }
  .service-header-second {
    display: none;
  }
  .service-header-container > p {
    text-align: left;
    padding: 0.3rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media (min-width: 1025px) {
  .service-header-container {
    flex-flow: row wrap;
    width: 99vw;
  }
  .service-header-vertical-line {
    margin-left: 10rem;
    height: 30rem;
    width: 0.5rem;
    border-radius: 2rem;
    background-color: #000000;
    align-self: center;
  }
  .service-header-first {
    flex: 0.4;
    margin: 0% 3%;
    align-items: center;
    justify-content: center;
  }
  .service-header-second {
    flex: 0.6;
    height: 102vh;
    background-image: url('../../../assets/Services.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .service-header-heading {
    min-width: 200px;
    max-width: 400px;
  }
  #service-header-h1 {
    font-weight: bolder;
    font-size: 3.25rem;
    padding: 0;
    line-height: 4.25rem;
  }
  #service-header-h2 {
    font-size: 1rem;
    padding: 3rem 0%;
    line-height: 2rem;
  }
  #service-header-h3 {
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 0;
  }
}
