#slide1-container {
  display: flex;
  flex-flow: column wrap;
  background-color: #000000;
}
#slide1-first {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}
#slide1-heading {
  display: flex;
  flex-direction: column;
}
#slide1-h1,
#slide1-h2,
#slide1-h3 {
  margin: 0;
  box-sizing: border-box;
}
#slide1-second img {
  display: inline-block;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #slide1-heading {
    min-width: 200px;
    max-width: 320px;
  }
  #slide1-h1 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
  }
  #slide1-h2 {
    font-weight: bolder;
    font-size: 2.25rem;
    padding: 0.5rem 10%;
    line-height: 3rem;
  }
  #slide1-h3 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
    line-height: 2rem;
  }
  #slide1-second {
    text-align: center;
  }
  #slide1-second img {
    margin: 0rem;
    width: 350px;
  }
  #slide1-container > p {
    text-align: left;
    padding: 0.3rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  #slide1-h1,
  #slide1-h2,
  #slide1-h3 {
    padding: 0.5rem 5%;
  }
}
@media (min-width: 1025px) {
  #slide1-container {
    flex-flow: row wrap;
  }
  #slide1-first {
    flex: 1;
    margin-left: 10%;
    margin-top: 2rem;
  }

  #slide1-heading {
    min-width: 200px;
    max-width: 520px;
  }
  #slide1-h1 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
  }
  #slide1-h2 {
    font-weight: bolder;
    font-size: 3.25rem;
    padding: 0.5rem 0%;
    line-height: 4.25rem;
  }
  #slide1-h3 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
    line-height: 3.5rem;
  }

  #slide1-second img {
    position: absolute;
    margin-top: 7rem;
    left: 32%;
    width: 500px;
  }
  #slide1-para1 {
    flex: 1;
    font-weight: bold;
    text-align: left;
    padding: 35rem 5% 2rem 10%;
    font-size: 1rem;
    line-height: 2rem;
  }
  #slide1-para2 {
    display: none;
  }
}
