#slide8-container {
  display: flex;
  flex-flow: column wrap;
}
#slide8-first {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}
#slide8-heading {
  display: flex;
  flex-direction: column;
}
#slide8-h1,
#slide8-h2,
#slide8-h3 {
  margin: 0;
  box-sizing: border-box;
}
#slide8-second img {
  display: inline-block;
}
hr {
  width: 98.5vw;
  margin-top: 20%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #slide8-heading {
    min-width: 200px;
    max-width: 320px;
  }
  #slide8-h1 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
  }
  #slide8-h2 {
    font-weight: bolder;
    font-size: 2.25rem;
    padding: 0.5rem 10%;
    line-height: 3rem;
  }
  #slide8-h3 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
    line-height: 2rem;
  }
  #slide8-second {
    text-align: center;
  }
  #slide8-second img {
    margin: 2rem 0rem;
    width: 350px;
  }
  #slide8-container > p {
    text-align: left;
    padding: 0.3rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  #slide8-h1,
  #slide8-h2,
  #slide8-h3 {
    padding: 0.5rem 5%;
  }
}
@media (min-width: 1025px) {
  #slide8-container {
    flex-flow: row wrap;
  }
  #slide8-first {
    flex: 0.4;
    margin-left: 10%;
    margin-top: 2rem;
  }
  #slide8-second {
    flex: 0.6;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
    margin-right: 0rem;
  }
  #slide8-heading {
    min-width: 200px;
    max-width: 520px;
  }
  #slide8-h1 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
  }
  #slide8-h2 {
    font-weight: bolder;
    font-size: 3.25rem;
    padding: 0.5rem 0%;
    line-height: 4.25rem;
  }
  #slide8-h3 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
    line-height: 3.5rem;
  }

  #slide8-second img {
    margin: 2rem 0rem 5rem 0rem;
    width: 400px;
  }
  #slide8-container > p {
    font-weight: bold;
    text-align: left;
    padding: 0.5rem 5% 2rem 10%;
    font-size: 1rem;
    line-height: 2rem;
  }
}
