#slide6-container {
  display: flex;
  flex-flow: column wrap;
  background-color: #000000;
}
#slide6-first {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}
#slide6-heading {
  display: flex;
  flex-direction: column;
}
#slide6-h1,
#slide6-h2,
#slide6-h3 {
  margin: 0;
  box-sizing: border-box;
}
#slide6-second img {
  display: inline-block;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #slide6-heading {
    min-width: 200px;
    max-width: 320px;
  }
  #slide6-h1 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
  }
  #slide6-h2 {
    font-weight: bolder;
    font-size: 2.25rem;
    padding: 0.5rem 10%;
    line-height: 3rem;
  }
  #slide6-h3 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
    line-height: 2rem;
  }
  #slide6-second {
    text-align: center;
  }
  #slide6-second img {
    margin: 2rem 0rem;
    width: 350px;
  }
  #slide6-second p {
    text-align: left;
    padding: 0.5rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  #slide6-h1,
  #slide6-h2,
  #slide6-h3 {
    padding: 0.5rem 5%;
  }
}
@media (min-width: 1025px) {
  #slide6-container {
    flex-flow: row wrap;
  }
  #slide6-first {
    flex: 0.4;
    margin-left: 10%;
    justify-content: center;
  }
  #slide6-second {
    flex: 0.6;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    margin: 0;
    margin-right: 5rem;
  }
  #slide6-heading {
    min-width: 200px;
    max-width: 520px;
  }
  #slide6-h1 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
  }
  #slide6-h2 {
    font-weight: bolder;
    font-size: 3.25rem;
    padding: 0.5rem 0%;
    line-height: 4.25rem;
  }
  #slide6-h3 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
    line-height: 3.5rem;
  }

  #slide6-second img {
    margin: 30rem 0rem 5rem 0rem;
    width: 100%;
  }
  #slide6-second p {
    font-weight: bold;
    text-align: left;
    padding: 0.5rem 5% 8rem 5%;
    font-size: 1rem;
    line-height: 2rem;
  }
}
