.industries-container{
    display: flex;
}

@media (max-width: 1023px) {
    .industry-name-section{
        display: flex;
        flex-flow: column;
        overflow-x: scroll;
        padding-right: 1rem;
    }

    .industry-name-section::-webkit-scrollbar {
        display: none;
    }

    .break-industries-section{
        width: 100vw;
        height: 0.05rem;    
        background-color: black;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .industry-name-bar{
        height: 0.25rem;
        margin-top: 2.3rem;
        background-color: rgb(79, 126, 131);
        transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    }

    .industries-container{
        flex-flow: column;
        width: 100vw;
    }

    .industries-heading{
        font-size: 3rem;
        font-weight: bolder;
        color: #c4c3c3;
        margin: 3rem 1rem;
    }

    .industry-name-container{
        display: flex;
        flex-flow: row nowrap;
    }
    
    .industry-name{
        box-sizing: content-box;
        margin: 0rem 1rem;
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .industry-name:hover{
        cursor: pointer;
    }
    
    .industry-slide-container{
        width: 100%;
        height: 40rem;
        position: relative;
        background-color: #000000;
        color: white;
    }

    .industry-slide-container img{
        width: 100%;
        height: 40rem;
    }
    
    .industry-slide{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        transition: opacity 1s ease-in-out;
    }
    
    .active-industry{
        opacity: 1;
    }
    
    .industry-image{
        opacity: 0.5;
    }
    
    .industry-description-bg{
        position: absolute;
        top: 30%;
        left: 0;
        margin: 0 1rem;
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

@media (min-width: 1024px) {
    .break-industries-section{
        visibility: hidden;
    }

    .industry-name-bar{
        visibility: hidden;
    }

    .industries-heading{
        font-size: 3rem;
        font-weight: bolder;
        text-align: center;
        margin: 3rem 0rem;
    }

    .industry-name-container{
        margin: 3rem 3rem 0rem 6rem;    
    }

    .industry-name{
        margin: 3rem 0rem;
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .industry-name:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .industry-slide-container{
        width: 100%;
        height: 55rem;
        position: relative;
        background-color: #000000;
        color: white;
    }

    .industry-slide-container img{
        width: 100%;
        height: 100%;
    }
    
    .industry-slide{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        transition: opacity 1s ease-in-out;
    }
    
    .active-industry{
        opacity: 1;
    }
    
    .industry-description-bg{
        position: absolute;
        background-color: black;
        box-sizing: border-box;
        height: 55rem;
        opacity: 0.7;
        top: 0;
        left: 0;
        margin: 0 12rem 0 6rem;
        padding: 15rem 1rem 0rem 1rem;
        font-size: 1rem;
        line-height: 1.75rem;
        font-weight: bold;
    }

    .industries-white-div{
        position: absolute;
        height: 6rem;
        top: 35rem;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }

    .home-industries-section{
        margin-bottom: 5rem;
    }
}

@media (max-width: 550px) {
    .industry-description-bg{
        margin: 0 1rem;
        font-size: 1rem;
        line-height: 1.75rem;
    }
}