#slide3-container {
  display: flex;
  flex-flow: column wrap;
  background-color: #000000;
}
#slide3-first {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}
#slide3-heading {
  display: flex;
  flex-direction: column;
}
#slide3-h1,
#slide3-h2,
#slide3-h3 {
  margin: 0;
  box-sizing: border-box;
}
#slide3-second img {
  display: inline-block;
}

@media (min-width: 0px) and (max-width: 1023px) {
  #slide3-heading {
    min-width: 200px;
    max-width: 320px;
  }
  #slide3-h1 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
  }
  #slide3-h2 {
    font-weight: bolder;
    font-size: 2.25rem;
    padding: 0.5rem 10%;
    line-height: 3rem;
  }
  #slide3-h3 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
    line-height: 2rem;
  }
  #slide3-second {
    text-align: center;
  }
  #slide3-second img {
    margin: 2rem 0rem;
    width: 350px;
    object-fit: contain;
  }
  #slide3-second p {
    text-align: left;
    padding: 0.5rem 4%;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  #slide3-h1,
  #slide3-h2,
  #slide3-h3 {
    padding: 0.5rem 5%;
  }
}

@media (min-width: 768px) {
  #slide3-container {
    padding-left: 5rem;
  }
}
@media (min-width: 1024px) {
  #slide3-container {
    flex-flow: row wrap;
  }
  #slide3-first {
    flex: 1;
    margin-left: 10%;
    justify-content: center;
  }
  #slide3-second {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    margin: 0rem 5rem;
  }
  #slide3-heading {
    min-width: 200px;
    max-width: 450px;
  }
  #slide3-h1 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
  }
  #slide3-h2 {
    font-weight: bolder;
    font-size: 3rem;
    padding: 0.5rem 0%;
    line-height: 4.25rem;
  }
  #slide3-h3 {
    font-size: 2rem;
    padding: 0.5rem 0%;
    line-height: 3.5rem;
  }

  #slide3-second img {
    margin: 12% 0rem 5rem 0rem;
    width: 100%;
    object-fit: contain;
  }
  #slide3-second p {
    text-align: left;
    padding: 0.5rem 5%;
    font-size: 1rem;
    line-height: 2rem;
  }
}
