#boxDiv {
  display: flex;
  flex-flow: column wrap;
  background-color: #000000;
}
#leftDiv {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}
#p1,
#p2,
#p3 {
  margin: 0;
  box-sizing: border-box;
}
#rightDiv img {
  display: inline-block;
}
hr {
  width: 96vw;
  margin-top: 20%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #boxDiv > p {
    padding: 0.5rem 4% 5rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  #p1 {
    font-size: 1.25rem;
    padding: 0.5rem 4%;
  }
  #p2 {
    font-weight: bolder;
    font-size: 2.25rem;
    padding: 0.5rem 4%;
    line-height: 3rem;
    min-width: 200px;
    max-width: 570px;
  }
  #p3 {
    font-size: 1.25rem;
    padding: 0.5rem 4%;
    line-height: 2rem;
    min-width: 200px;
    max-width: 320px;
  }
  #rightDiv {
    text-align: center;
  }
  #rightDiv img {
    margin: 2rem 0rem;
    width: 300px;
  }
  #rightDiv p {
    text-align: left;
    padding: 0.5rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  #p1,
  #p2,
  #p3 {
    padding: 0.5rem 5%;
  }
}
@media (min-width: 1025px) {
  #boxDiv {
    flex-flow: row wrap;
  }
  #boxDiv > p {
    padding: 0.5rem 4% 0.5rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 0;
    min-width: 300px;
    max-width: 550px;
    margin-left: 50%;
  }
  #leftDiv {
    flex: 1;
    margin-left: 10%;
    justify-content: center;
  }
  #rightDiv {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    margin-right: 2rem;
  }

  #p1 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
  }
  #p2 {
    font-weight: bolder;
    font-size: 3.2rem;
    padding: 0.5rem 0%;
    line-height: 4.25rem;
    min-width: 120%;
    max-width: 150%;
  }
  #p3 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
    line-height: 3.5rem;
    min-width: 200px;
    max-width: 450px;
  }

  #rightDiv img {
    margin: 35rem 0rem 5rem 0rem;
    width: 320px;
  }
  #rightDiv p {
    font-weight: bold;
    text-align: left;
    padding: 0.5rem 5%;
    font-size: 1rem;
    line-height: 2rem;
  }
}
