.home-project-container img {
    height: 10rem;
    width: 5rem;
    object-fit: cover;
  }
  
  @media (min-width: 0px) and (max-width: 767px) {
    .home-project-container {
      text-align: center;
      padding: 3rem 8%;
    }
  
    .home-project-text,
    .image1-text,
    .image2-text,
    .image3-text,
    .image4-text {
      display: none;
    }
  
    .home-project-heading {
      font-size: 2.25rem;
      font-weight: bolder;
      padding: 0 0.5rem;
      line-height: 3rem;
    }
  
    .project-image1,
    .project-image2,
    .project-image3,
    .project-image4 {
      background-color: black;
      height: 35rem;
      width: 100%;
      margin-bottom: 2rem;
    }
  
    .home-project-container img {
      height: 80%;
      width: 100%;
      object-fit: cover;
      object-position: top right;
    }
  
    .project-image1 img {
      width: 80%;
      object-fit: contain;
    }
  
    .home-project-container button {
      margin: 0;
      border: none;
      height: 4rem;
      width: 15rem;
      background-color: rgb(22 56 59);
      color: white;
      font-size: 1.25rem;
      font-weight: bolder;
      border-radius: 6rem;
    }
  
    .project-image4 {
      background: linear-gradient(to bottom, rgb(22 56 59), black);
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  
    .project-image4 button {
      margin-bottom: 2rem;
    }
  
    .project-image5 {
      height: 8rem;
      width: 100%;
      background-color: rgb(22 56 59);
    }
  }
  
  @media (min-width: 700px) and (max-width: 767px) {
    .project-image2,
    .project-image3 {
      height: 30rem;
      position: relative;
    }
  
    .project-image2 img,
    .project-image3 img {
      height: 100%;
    }
  
    .project-image2 button,
    .project-image3 button {
      position: absolute;
      bottom: 2rem;
      left: 30%;
    }
  }
  
  @media (min-width: 768px) {
    .home-project-container {
      text-align: center;
      padding: 3rem 20%;
    }
  
    .home-project-images {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  
    .home-project-column1,
    .home-project-column2 {
      flex: 0.5;
    }
  
    .home-project-text {
      color: black;
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 200;
      padding-bottom: 1rem;
    }
  
    .image1-text,
    .image2-text,
    .image3-text,
    .image4-text {
      color: white;
      font-size: 0.75rem;
      line-height: 1.5rem;
      position: absolute;
      bottom: 0rem;
      padding: 7rem 1rem;
    }
  
    .home-project-heading {
      font-size: 2.25rem;
      font-weight: bolder;
      padding: 0;
      line-height: 2rem;
    }
  
    .project-image1,
    .project-image2,
    .project-image3,
    .project-image4 {
      background-color: black;
      width: 95%;
      margin-bottom: 1.5rem;
      position: relative;
    }
  
    .project-image1 {
      height: 40rem;
    }
  
    .project-image2 {
      height: 35rem;
    }
  
    .image2-text {
      padding: 6rem 1rem;
    }
  
    .project-image3 {
      height: 34rem;
    }
  
    .image3-text {
      padding: 0rem 1rem 6rem 1rem;
    }
  
    .home-project-container img {
      height: 80%;
      width: 100%;
      object-fit: cover;
      object-position: top right;
    }
  
    .project-image1 img {
      width: 90%;
      object-fit: contain;
    }
  
    .home-project-container button {
      margin: 0;
      border: none;
      height: 4rem;
      width: 15rem;
      background-color: rgb(22 56 59);
      color: white;
      font-size: 1.25rem;
      font-weight: bolder;
      border-radius: 6rem;
    }
  
    .project-image4 {
      background: linear-gradient(to bottom, rgb(22 56 59), black);
      display: flex;
      height: 30rem;
      align-items: flex-end;
      justify-content: center;
    }
  
    .project-image4 button {
      margin-bottom: 2rem;
    }
  
    .project-image5 {
      height: 9.5rem;
      width: 95%;
      background-color: rgb(22 56 59);
    }
  
    .project-image1 button,
    .project-image2 button,
    .project-image3 button {
      margin-top: 1rem;
    }
  }
  