.slide2-container {
  display: flex;
  flex-flow: column wrap;
}
.slide2-first {
  display: flex;
  flex-flow: column wrap;
}
.slide2-heading {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#slide2-h1,
#slide2-h2,
#slide2-h3 {
  margin: 0;
  box-sizing: border-box;
}
.slide2-second img {
  display: inline-block;
}
hr {
  width: 98.5vw;
  margin-top: 20%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .slide2-passage {
    display: none;
  }
  .slide2-heading {
    min-width: 200px;
    max-width: 320px;
  }
  #slide2-h1 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
  }
  #slide2-h2 {
    font-weight: bolder;
    font-size: 2.25rem;
    padding: 0.5rem 10%;
    line-height: 3rem;
  }
  #slide2-h3 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
    line-height: 2rem;
  }
  .slide2-second {
    text-align: center;
  }
  .slide2-second img {
    margin: 2rem 0rem;
    width: 250px;
  }
  .slide2-second p {
    text-align: left;
    padding: 0.5rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  #slide2-h1,
  #slide2-h2,
  #slide2-h3 {
    padding: 0.5rem 5%;
  }
}
@media (min-width: 1025px) {
  .slide2-container {
    flex-flow: row wrap;
  }
  .slide2-first {
    flex: 1;
    margin-left: 10%;
  }
  .slide2-second {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
  }
  .slide2-passage {
    font-weight: bold;
    text-align: left;
    padding: 0.5rem 0%;
    margin-bottom: 35%;
    font-size: 1rem;
    line-height: 2rem;
  }
  .slide2-heading {
    min-width: 250px;
    max-width: 450px;
  }
  #slide2-h1 {
    font-size: 2.25rem;
    padding: 0.5rem 0%;
  }
  #slide2-h2 {
    font-weight: bolder;
    font-size: 3rem;
    padding: 0.5rem 0%;
    line-height: 4rem;
  }
  #slide2-h3 {
    font-size: 2.25rem;
    padding: 0.5rem 0%;
    line-height: 3rem;
  }

  .slide2-second img {
    margin: 23rem 0rem 5rem 5rem;
    width: 500px;
  }
  .slide2-second p {
    font-weight: bold;
    text-align: left;
    padding: 0.5rem 4% 0.5rem 20%;
    font-size: 1rem;
    line-height: 2rem;
  }
}
