.container {
  display: flex;
  flex-flow: column wrap;
}
.first {
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .passage {
    display: none;
  }
  .heading {
    min-width: 200px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  #h1 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0.5rem 10%;
    box-sizing: border-box;
  }
  #h2 {
    font-weight: bolder;
    margin: 0;
    font-size: 2.25rem;
    padding: 0.5rem 10%;
    line-height: 3rem;
    box-sizing: border-box;
  }
  #h3 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0.5rem 10%;
    line-height: 2rem;
    box-sizing: border-box;
  }

  .second img {
    margin: 2rem 0rem 2rem 5rem;
    display: inline-block;
    width: 250px;
  }
  .second p {
    text-align: left;
    padding: 0.5rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  hr {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  #h1,
  #h2,
  #h3 {
    padding: 0.5rem 5%;
  }
}
