#box {
  display: flex;
  flex-flow: column wrap;
}
#left {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}
#headingDiv {
  display: flex;
  flex-direction: column;
}
#head1,
#head2,
#head3 {
  margin: 0;
  box-sizing: border-box;
}
#right img {
  display: inline-block;
}
hr {
  width: 98.5vw;
  margin-top: 20%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #headingDiv {
    min-width: 200px;
    max-width: 320px;
  }
  #head1 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
  }
  #head2 {
    font-weight: bolder;
    font-size: 2.25rem;
    padding: 0.5rem 10%;
    line-height: 3rem;
  }
  #head3 {
    font-size: 1.25rem;
    padding: 0.5rem 10%;
    line-height: 2rem;
  }

  #right img {
    margin: 2rem 0rem 2rem 5rem;
    width: 350px;
  }
  #right p {
    text-align: left;
    padding: 0.5rem 4%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  #head1,
  #head2,
  #head3 {
    padding: 0.5rem 5%;
  }
}
@media (min-width: 1025px) {
  #box {
    flex-flow: row wrap;
  }
  #left {
    flex: 0.6;
    margin-left: 10%;
    justify-content: center;
  }
  #right {
    flex: 0.4;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    margin: 0rem 2rem;
  }
  #headingDiv {
    min-width: 200px;
    max-width: 520px;
  }
  #head1 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
  }
  #head2 {
    font-weight: bolder;
    font-size: 3.25rem;
    padding: 0.5rem 0%;
    line-height: 4.25rem;
  }
  #head3 {
    font-size: 2.5rem;
    padding: 0.5rem 0%;
    line-height: 3.5rem;
  }

  #right img {
    margin: 40rem 0rem 8rem 0rem;
    width: 90%;
  }
  #right p {
    font-weight: bold;
    text-align: left;
    padding: 0.5rem 5%;
    font-size: 1rem;
    line-height: 2rem;
  }
}
